* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

nav {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 999;
  /* UPPER NAV */
  /* LOWER NAV */
}
nav .upper-nav {
  background-color: #0282f9;
}
nav .upper-nav ul {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
}
nav .upper-nav ul li {
  padding: 3px;
}
nav .upper-nav ul li a {
  color: whitesmoke;
  font-size: 10px;
  font-family: sans-serif;
  font-weight: 600;
}
nav .upper-nav ul li:last-child {
  margin-left: 100px;
}
nav .lower-nav {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .lower-nav .logo-box {
  display: flex;
  align-items: center;
  width: 5%;
}
nav .lower-nav .logo-box img {
  width: 60px;
}
nav .lower-nav .list-box {
  width: 85%;
}
nav .lower-nav .list-box ul {
  padding: 40px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav .lower-nav .list-box ul li {
  font-size: 10px;
  font-weight: 600;
}
nav .lower-nav .search-box {
  display: flex;
  align-items: center;
  width: 10%;
}
nav .lower-nav .search-box input {
  width: 100%;
}

/* JUMBOTRON */
.jumbotron {
  position: relative;
  padding-top: 120px;
  z-index: -1;
}
.jumbotron #jumb {
  width: 100%;
  z-index: -1;
  position: absolute;
}

main {
  margin-top: 300px;
}
main .container {
  background-color: #1c1c1c;
  min-height: 550px;
}
main .container .comics-box {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin: auto;
}
main .container .comics-box .comic-card {
  width: calc(100% / 6);
  padding: 10px;
}
main .container .comics-box .comic-card h2 {
  font-size: 12px;
  color: whitesmoke;
}
main .container .comics-box #btn-azure {
  padding: 10px 25px;
  background-color: #0282f9;
  color: white;
  font-size: 12px;
  margin: 20px auto 0 auto;
}
main .white {
  background-color: whitesmoke;
}

.blue-img-stripe {
  background-color: #0282f9;
  min-height: 60px;
  width: 100%;
  position: relative;
  z-index: 0;
}
.blue-img-stripe img {
  width: 150px;
  position: absolute;
  top: -190px;
  left: 150px;
  z-index: -1;
}

.description-box {
  background-color: white;
  padding-top: 30px;
}
.description-box .upper-box {
  width: 75%;
  margin: auto;
  display: flex;
  padding-bottom: 60px;
}
.description-box .upper-box .left-side {
  width: 70%;
}
.description-box .upper-box .left-side h2 {
  padding: 10px 0;
}
.description-box .upper-box .left-side p {
  padding: 10px 0;
  line-height: 24px;
  font-size: 12px;
  font-weight: 600;
}
.description-box .upper-box .left-side .availability-box {
  background-color: #55ba59;
  display: flex;
  border-bottom: 2px solid #397f3d;
}
.description-box .upper-box .left-side .availability-box .left-side {
  padding: 10px 0;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.description-box .upper-box .left-side .availability-box .left-side #price {
  margin-left: 30px;
  color: #bafa8f;
}
.description-box .upper-box .left-side .availability-box .left-side #price span {
  color: whitesmoke;
}
.description-box .upper-box .left-side .availability-box .left-side #available {
  margin-right: 30px;
  color: #bafa8f;
}
.description-box .upper-box .left-side .availability-box .right-side {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 2px solid #397f3d;
  color: whitesmoke;
}
.description-box .upper-box .right-side {
  margin-left: 30px;
}
.description-box .upper-box .right-side h5 {
  text-align: right;
}
.description-box .upper-box .right-side img {
  margin-top: 10px;
  width: 100%;
}
.description-box .lower-box {
  background-color: #f6f6f6;
  border-top: 2px solid #e6e6e6;
  padding-top: 30px;
  padding-bottom: 60px;
}
.description-box .lower-box h3 {
  color: #003f53;
  padding: 20px 0;
}
.description-box .lower-box #comma {
  color: #1c1c1c;
}
.description-box .lower-box .wrapper {
  width: 75%;
  margin: auto;
  display: flex;
}
.description-box .lower-box .wrapper .left-side {
  width: 50%;
}
.description-box .lower-box .wrapper .left-side .artists-box .art-by {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-top: 2px solid #e6e6e6;
}
.description-box .lower-box .wrapper .left-side .artists-box .art-by .h-box {
  width: 30%;
}
.description-box .lower-box .wrapper .left-side .artists-box .art-by .artists-array {
  width: 70%;
  margin-right: 10px;
  color: #1fb0e1;
  font-weight: 600;
  font-size: 12px;
}
.description-box .lower-box .wrapper .left-side .artists-box .written-by {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-top: 2px solid #e6e6e6;
  border-bottom: 2px solid #e6e6e6;
}
.description-box .lower-box .wrapper .left-side .artists-box .written-by .h-box {
  width: 30%;
}
.description-box .lower-box .wrapper .left-side .artists-box .written-by .writers-array {
  width: 70%;
  margin-right: 10px;
  color: #1fb0e1;
  font-weight: 600;
  font-size: 12px;
}
.description-box .lower-box .wrapper .right-side {
  padding-left: 60px;
  width: 50%;
}
.description-box .lower-box .wrapper .right-side .series {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 70px 15px 0;
  border-top: 2px solid #e6e6e6;
}
.description-box .lower-box .wrapper .right-side .series div:last-child span {
  color: #1fb0e1;
  text-transform: uppercase;
}
.description-box .lower-box .wrapper .right-side .price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 70px 15px 0;
  border-top: 2px solid #e6e6e6;
}
.description-box .lower-box .wrapper .right-side .sale-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 70px 15px 0;
  border-top: 2px solid #e6e6e6;
  border-bottom: 2px solid #e6e6e6;
}

footer {
  background-color: #292929;
}
footer .wrapper {
  background-image: url("../img/footer-bg.jpg");
}
footer .wrapper .upper-footer {
  width: 75%;
  margin: auto;
  display: flex;
}
footer .wrapper .upper-footer .left-side {
  padding: 40px 0;
  width: 40%;
  display: flex;
}
footer .wrapper .upper-footer .left-side .column {
  margin-right: 15px;
}
footer .wrapper .upper-footer .left-side .column ul li {
  color: #9c9c9c;
  font-size: 13px;
  margin-bottom: 5px;
}
footer .wrapper .upper-footer .left-side .column ul li h4 {
  color: whitesmoke;
  padding: 15px 0;
}
footer .wrapper .upper-footer .right-side {
  overflow: hidden;
  width: 60%;
  position: relative;
  position: relative;
}
footer .wrapper .upper-footer .right-side img {
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
footer .wrapper .footer-footer {
  background-color: #2c2c2c;
}
footer .wrapper .footer-footer .wrapper-footer {
  padding: 20px 0;
  background-color: #2c2c2c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  margin: auto;
}
footer .wrapper .footer-footer .wrapper-footer .sign-up-btn {
  background-color: #303030;
  border: 1px solid #0282f9;
  padding: 15px 30px;
  color: whitesmoke;
}
footer .wrapper .footer-footer .wrapper-footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .wrapper .footer-footer .wrapper-footer ul li h4 {
  color: #0282f9;
}
footer .wrapper .footer-footer .wrapper-footer ul li img {
  width: 40px;
  margin-left: 15px;
}