
$color-main: #0282f9;
$color-dark: #1c1c1c;
$color-footer-text: #797979;


$center-content: 75%;


$font: sans-serif;

$xxs-font: 10px;
$xs-font: 12px;
$md-font: 16px;
$lg-font: 18px;
$xlg-font: 24px;
$xxlg-font: 32px;

